<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:lang="http://www.springframework.org/schema/lang"
	   xmlns:c="http://www.springframework.org/schema/c" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	  					   http://www.springframework.org/schema/beans/spring-beans.xsd
		                   http://www.springframework.org/schema/lang 
		                   http://www.springframework.org/schema/lang/spring-lang.xsd
		                   http://www.springframework.org/schema/context 
		                   http://www.springframework.org/schema/context/spring-context.xsd
		                   http://www.springframework.org/schema/util 
		                   http://www.springframework.org/schema/util/spring-util.xsd">

	 
	<bean id= "esperTemplateBean" 
	      class="com.doctor.esper.spring.EsperTemplateBean"
	      p:providerURI="spring-esperTemplateBean"
	      p:configuration="classpath:/esperConfigForChapter6/esper-cfg.xml"
	      p:statements-ref="esperStatements"/>
		 
	<util:set id="esperStatements" set-class="java.util.LinkedHashSet">
		<ref bean="httpLogWinTime5Sec"/>
		<ref bean="httpLogWinLength100"/>
		<ref bean="httpLogWinLength100Index"/>
		<ref bean="httpLogStatement"/>
		<ref bean="httpLogStatement2"/>
		<ref bean="thresholdHttpLogStatement"/>
	</util:set>
	
	
	<bean id="httpLogWinTime5Sec" class="com.doctor.esper.spring.EsperStatement"
		  c:epl="
	      create window HttpLogWindowTime5Sec.win:time(5 sec) 
	      as HttpLog   " />
	      
	<bean id="httpLogWinLength100" class="com.doctor.esper.spring.EsperStatement"
		  c:epl="
	      create window HttpLogWinLength100.win:length(100) 
	      as HttpLog   " />
	      
	<bean id="httpLogWinLength100Index" class="com.doctor.esper.spring.EsperStatement"
		  c:epl="
	     create index httpLogWinLength100ForIndex on HttpLogWinLength100(machineId hash,requestPath hash,referer hash, id btree)  " />
	      
	<bean id="httpLogStatement" class="com.doctor.esper.spring.EsperStatement"
		  c:epl="
		  insert into HttpLogWindowTime5Sec 
	      select  *
	      from HttpLog " />
	      
	<bean id="httpLogStatement2" class="com.doctor.esper.spring.EsperStatement"
		  c:epl="
		  insert into HttpLogWinLength100
	      select  *
	      from HttpLog " />
	      
	<bean id="httpLogWinTime10SecQuery" class="com.doctor.esper.spring.EsperQueryStatement"
		  c:esperTemplateBean-ref="esperTemplateBean"
		  c:epl="
		  select * 
		  from HttpLogWindowTime5Sec " />
	      
  	<bean id="thresholdHttpLogStatement" class="com.doctor.esper.spring.EsperStatement"
  		  p:subscriber-ref="httpLogSubscriber"
  		  p:subscriberMethodName="update"
		  c:epl="
	      select log.*,count(*)
	      from HttpLog.win:time(10 sec) as log
	      group by id
	      having count(*)  >= var_threshold  " />
	      
	<bean id="httpLogWinLength100Query" class="com.doctor.esper.spring.EsperQueryStatement"
		  c:esperTemplateBean-ref="esperTemplateBean"
		  c:epl="
		  select * 
		  from HttpLogWinLength100 
		  where requestPath = ? and id between ? and ? " />
	      
	 <bean id= "httpLogSubscriber" class="com.doctor.esper.subscriber.HttpLogSubscriber" />
	             
</beans>
