<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:lang="http://www.springframework.org/schema/lang"
	   xmlns:c="http://www.springframework.org/schema/c" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	  					   http://www.springframework.org/schema/beans/spring-beans.xsd
		                   http://www.springframework.org/schema/lang 
		                   http://www.springframework.org/schema/lang/spring-lang.xsd
		                   http://www.springframework.org/schema/context 
		                   http://www.springframework.org/schema/context/spring-context.xsd
		                   http://www.springframework.org/schema/util 
		                   http://www.springframework.org/schema/util/spring-util.xsd">

	 
	<bean id= "esperTemplateBean" 
	      class="com.doctor.esper.spring.EsperTemplateBean"
	      p:providerURI="spring-esperTemplateBean"
	      p:configuration="classpath:/esperConfigForChapter16/esper-2015.esper.cfg.datasource.xml"
	      p:statements-ref="esperStatements"/>
		 
	<util:set id="esperStatements" set-class="java.util.LinkedHashSet">
		<ref bean="nginxlogStatement"/>
	</util:set>
	
	<bean id="nginxlogStatement" 
	      class="com.doctor.esper.spring.EsperStatement" 
	      c:epl="
	      select httplog.* 
	      from HttpLog as httplog ,
	      sql:dbGreenplum ['select * from nginxlog_row_20150609  where id = ${httplog.id}'] as nginxlog " />
	             
	             
</beans>
