<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:lang="http://www.springframework.org/schema/lang"
	   xmlns:c="http://www.springframework.org/schema/c" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	  					   http://www.springframework.org/schema/beans/spring-beans.xsd
		                   http://www.springframework.org/schema/lang 
		                   http://www.springframework.org/schema/lang/spring-lang.xsd
		                   http://www.springframework.org/schema/context 
		                   http://www.springframework.org/schema/context/spring-context.xsd
		                   http://www.springframework.org/schema/util 
		                   http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id= "esperTemplateBean" class="com.doctor.esper.spring.EsperTemplateBean"
	 p:providerURI="spring-esperTemplateBean"
	 p:configuration="classpath:/esper2015Config/esper-2015.esper.cfg.xml"
	 />
	 
	<bean id= "esperTemplateBean2" class="com.doctor.esper.spring.EsperTemplateBean"
	 p:providerURI="spring-esperTemplateBean2"
	 p:configuration="classpath:/esper2015Config/esper-2015.esper.cfg.xml"
	 p:statements-ref="esperStatements"
	 />
		 
	<util:set id="esperStatements" set-class="java.util.LinkedHashSet">
		<ref bean="PersonWindow2"/><!-- 注意epl语句顺序，故底层list是顺序的结构 -->
		<ref bean="personStatement"/>
	</util:set>
	
	<bean id="personStatement" class="com.doctor.esper.spring.EsperStatement" 
	      c:epl="
	            insert into PersonWindow
	             select *
	             from Person.win:length(2)" />
	             
	<bean id= "PersonWindow2"  class="com.doctor.esper.spring.EsperStatement" 
	      c:epl="create window PersonWindow.win:length(2)
	      		 select * from Person" />
	             
	<bean id="personQuery" class="com.doctor.esper.spring.EsperQueryStatement" 
		  p:epl="select * from PersonWindow "
		  p:esperTemplateBean-ref="esperTemplateBean2"/>
</beans>
